.ab_wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 10px;
   color: rgb(0, 253, 135);
   background-color: rgba(1, 12, 23, 0.84);
   padding-top: 50px;
   font-size: 30px;
}

.info{
   color: aliceblue;
}

.info{
   
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
}

.abouttext{
   display: flex;
   justify-content: center;
   text-align: center;
   padding-top: 30px;
}